<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div id="fh5co-logo"><a href="/index/">Family Gathering</a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li class="active"><a href="/index/">Home</a></li>
                    <li><a href="#fh5co-event">Families</a></li>
                    <li><a href="#fh5co-gallery">Gallery</a></li>
                    <li><a href="/timeline/">Timeline</a></li>
                    <li class="has-dropdown">
                        <!-- <a href="#fh5co-services">Services</a>
                        <ul class="dropdown">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">eCommerce</a></li>
                            <li><a href="#">Branding</a></li>
                            <li><a href="#">API</a></li>
                        </ul> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>