{% load static %}

<div id="fh5co-couple">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>Hello!</h2>
                <h3>March 28th, 2022 Kyoto, JAPAN</h3>
                <p>Thank you for coming to our first family gathering.</p>
            </div>
        </div>
        <div class="couple-wrap animate-box">
            <div class="couple-half">
                <div class="groom">
                    <img src="{% static 'naokosh/images/groom.jpg' %}" alt="groom" class="img-responsive">
                </div>
                <div class="desc-groom">
                    <h3>Daiki Matsuoka</h3>
                    <h3>松岡大起</h3>
                    <p>
                        誕生日: 6月22日<br>
                        出生地: 奈良県天理市<br>
                        血液型: A型<br>
                        好き: 映画、楽器、Youtube<br>
                        癒やし: サウナ<br>
                    </p>
                </div>
            </div>
            <p class="heart text-center"><i class="icon-heart2"></i></p>
            <div class="couple-half">
                <div class="bride">
                    <img src="{% static 'naokosh/images/bride.jpg' %}" alt="groom" class="img-responsive">
                </div>
                <div class="desc-bride">
                    <h3>Nao Imaizumi</h3>
                    <h3>今泉菜央</h3>
                    <p>
                        誕生日: 5月1日<br>
                        出生地: 東京都立川市<br>
                        血液型: A型<br>
                        好き: 映画、ラム、ビール<br>
                        癒やし: 長風呂、推し活<br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>