{% load static %}

<div id="fh5co-event" class="fh5co-bg" style="background-image:url({% static 'naokosh/images/families.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>Our Beautiful Families</span>
                <h2>Families</h2>
            </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box fh5co-heading">
                                <span>Groom Family</span>
                                <h2>Matsuoka</h2>
                                <br>
                                <h3>浩史 Hirofumi</h3>
                                <img class="img-responsive" src="{% static 'naokosh/images/families/hirofumi.jpg' %}" alt="" srcset="">
                                <p>
                                    <br>
                                    誕生日: 12月25日<br>
                                    出身地: 京都府<br>
                                    趣味: DIY、トランペット<br>
                                    <br>
                                </p>
                                <h3>景子 Keiko</h3>
                                <img class="img-responsive"  src="{% static 'naokosh/images/families/keiko.jpg' %}" alt="" srcset="">
                                <p>
                                    <br>
                                    誕生日: 9月22日<br>
                                    出身地: 大阪府<br>
                                    趣味: コーラス<br>
                                    <br>
                                </p>
                                <h3>里佳 Rika</h3>
                                <img class="img-responsive"  src="{% static 'naokosh/images/families/rika.jpg' %}" alt="" srcset="">
                                <p>
                                    <br>
                                    誕生日: 3月29日<br>
                                    出身地: 京都府<br>
                                    趣味: カフェ巡り、音楽鑑賞<br>
                                    <br>
                                </p>

                                <!-- <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>4:00 PM</span>
                                    <span>6:00 PM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Monday 8th</span>
                                    <span>August, 2022</span>
                                </div>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p> -->
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box fh5co-heading">
                                <span>Bride Family</span>
                                <h2>Imaizumi</h2>
                                <br>
                                <h3>朗 Akira</h3>
                                <img class="img-responsive"  src="{% static 'naokosh/images/families/akira.jpg' %}" alt="" srcset="">
                                <p>
                                    <br>
                                    誕生日: 3月16日<br>
                                    出身地: 福島県<br>
                                    趣味: 美術鑑賞、読書、将棋<br>
                                    <br>
                                </p>
                                <h3>幸代 Yukiyo</h3>
                                <img class="img-responsive"  src="{% static 'naokosh/images/families/yukiyo.jpg' %}" alt="" srcset="">
                                <p>
                                    <br>
                                    誕生日: 1月29日<br>
                                    出身地: 東京都<br>
                                    趣味: <br>
                                    <br>
                                </p>
                                <h3>稜 Ryo</h3>
                                <img class="img-responsive"  src="{% static 'naokosh/images/families/ryo.jpg' %}" alt="" srcset="">
                                <p>
                                    <br>
                                    誕生日: 10月22日<br>
                                    出身地: 東京都<br>
                                    趣味: 洋画鑑賞<br>
                                    <br>
                                </p>

                                <!-- <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>7:00 PM</span>
                                    <span>12:00 AM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Monday 28</span>
                                    <span>November, 2016</span>
                                </div>
                                <p></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>