{% load static %}

<div id="fh5co-gallery" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
				<span>Our Memories</span>
				<h2>Gallery</h2>
				<!-- <p>hogehogehogehogehogehogehogehogehoge</p> -->
			</div>
		</div>
		<div class="row row-bottom-padded-md">
			<div class="col-md-12">
				<ul id="fh5co-gallery-list">
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'naokosh/images/gallery/01.jpg' %}); "> 
						<a href="javascript:void(0);" class="color-2">
							<div class="case-studies-summary">
								<span>2020.12.06-07</span>
								<h2>草津温泉</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'naokosh/images/gallery/02.jpg' %}); ">
						<a href="javascript:void(0);" class="color-2">
							<div class="case-studies-summary">
								<span>2020.12.25</span>
								<h2>クリスマス</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'naokosh/images/gallery/03.jpg' %}); ">
						<a href="javascript:void(0);" class="color-3">
							<div class="case-studies-summary">
								<span>2021.02.15</span>
								<h2>鎌倉</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'naokosh/images/gallery/04.jpg' %}); ">
						<a href="javascript:void(0);" class="color-4">
							<div class="case-studies-summary">
								<span>2021.04.30-05.01</span>
								<h2>館山</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'naokosh/images/gallery/05.jpg' %}); ">
						<a href="javascript:void(0);" class="color-3">
							<div class="case-studies-summary">
								<span>2021.06.25-27</span>
								<h2>静岡</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'naokosh/images/gallery/06.jpg' %}); ">
						<a href="javascript:void(0);" class="color-4">
							<div class="case-studies-summary">
								<span>2021.07.22</span>
								<h2>江ノ島 & 八景島</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'naokosh/images/gallery/07.jpg' %}); ">
						<a href="javascript:void(0);" class="color-4">
							<div class="case-studies-summary">
								<span>2021.08.11</span>
								<h2>チームラボ</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'naokosh/images/gallery/08.jpg' %}); "> 
						<a href="javascript:void(0);" class="color-5">
							<div class="case-studies-summary">
								<span>2021.11.14-15</span>
								<h2>熱海</h2>
							</div>
						</a>
					</li>
					<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url({% static 'naokosh/images/gallery/09.jpg' %}); ">
						<a href="javascript:void(0);" class="color-6">
							<div class="case-studies-summary">
								<span>2021.12.26</span>
								<h2>プロポーズ</h2>
							</div>
						</a>
					</li>
				</ul>		
			</div>
		</div>
	</div>
</div>