{% load static %}

<div id="fh5co-couple-story">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>We Love Each Other</span>
                <h2>Our Story</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline animate-box">
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url({% static 'naokosh/images/couple-1.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">First We Meet</h3>
                                <span class="date">October 30th, 2021</span>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    マッチングアプリWithで出会う。
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url({% static 'naokosh/images/couple-2.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">First Date</h3>
                                <span class="date">November 7th, 2021</span>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url({% static 'naokosh/images/couple-3.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Propose</h3>
                                <span class="date">December 26th, 2022</span>
                            </div>
                            <div class="timeline-body">
                                <p>

                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>