{% extends "base.html" %}
{% load static %}

{% block main %}

    <section id="timeline">
        <div class="timeline-container text-white" id="timeline-1">
            <br><br>
            <div class="timeline-header fh5co-heading">
                <h2 class="timeline-header__title">Timeline</h2>
                <h3 class="timeline-header__subtitle"></h3>
            </div>
            <div class="timeline">
                <div class="timeline-item" data-text="菜央">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/01.jpg' %}"/>
                        <h2 class="timeline__content-title">1991.5.1</h2>
                        <h3>爆誕</h3>
                        <p class="timeline__content-desc">
                            東京都立川市にて生まれる。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="大起">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/02.jpg' %}"/>
                        <h2 class="timeline__content-title">1994.6.22</h2>
                        <h3>降誕</h3>
                        <p class="timeline__content-desc">
                            大阪赤十字病院の母姉の生誕と同室にて、犬飼家の次女として生まれる。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="菜央">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/03.jpg' %}"/>
                        <h2 class="timeline__content-title">1997</h2>
                        <h3>ナーガ保育園 入園</h3>
                        <p class="timeline__content-desc">
                            可愛すぎわろた。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="大起">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/04.jpg' %}"/>
                        <h2 class="timeline__content-title">1997</h2>
                        <p class="timeline__content-desc">
                            生まれた時から長い舌を備え持つ。<br>
                            「カルピスおいちぃ〜〜！」
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="菜央">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/05.jpg' %}"/>
                        <h2 class="timeline__content-title">1997</h2>
                        <p class="timeline__content-desc">
                            生まれたときからフォースと共にある。<br>
                            May the Force be with you.
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="菜央">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/07.jpg' %}"/>
                        <h2 class="timeline__content-title">1998</h2>
                        <h3>学園前ネオポリス幼稚園入園</h3>
                        <p class="timeline__content-desc">
                            人見知りだが、家ではわんぱくな少女に育つ。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="大起">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/06.jpg' %}"/>
                        <h2 class="timeline__content-title">1999</h2>
                        <p class="timeline__content-desc">
                            年長のお遊戯会。沖縄風の衣装を身にまとい、それなりに踊る。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="菜央">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/08.jpg' %}"/>
                        <h2 class="timeline__content-title">2000</h2>
                        <p class="timeline__content-desc">
                            6歳の誕生日に家族でディズニーランドへ。<br>
                            まだディズニーシーが完成していない頃。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="大起">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/09.jpg' %}"/>
                        <h2 class="timeline__content-title">2000</h2>
                        <p class="timeline__content-desc">
                            幼稚園の生活発表会でバイオリン演奏。<br>
                            人生唯一のバイオリン経験 (運指目印付き)。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="菜央">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/10.jpg' %}"/>
                        <h2 class="timeline__content-title">2000</h2>
                        <p class="timeline__content-desc">
                            上田次郎役として『TRICK』で仲間由紀恵と共演。
                            "イケメンだけど変わり者"というキャラを定着させる。
                            そして、阿部寛の伝説はここからはじまったのであった…。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="大起">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/11.jpg' %}"/>
                        <h2 class="timeline__content-title">2000</h2>
                        <h3>卒園・広島市立楠那小学校入学</h3>
                        <p class="timeline__content-desc">
                            ただただ可愛かった時代。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="菜央">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/12.jpg' %}"/>
                        <h2 class="timeline__content-title">2001</h2>
                        <h3>卒園・奈良市立青和小学校入学</h3>
                        <p class="timeline__content-desc">
                            iPS細胞研究所長の山中伸弥氏と同じ小学校。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="大起">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/13.jpg' %}"/>
                        <h2 class="timeline__content-title">2001</h2>
                        <p class="timeline__content-desc">
                            オープンして間もないUSJへ家族で。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="菜央">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/14.jpg' %}"/>
                        <h2 class="timeline__content-title">2001</h2>
                        <p class="timeline__content-desc">
                            地元のソフトボールチームに所属。<br>
                            未来の大谷翔平になるはずが、成長したのは顎のみでナス化の一途を辿る。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="大起">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/15.jpg' %}"/>
                        <h2 class="timeline__content-title">2001</h2>
                        <p class="timeline__content-desc">
                            2001年天才児三男降誕。松井三兄弟となる。<br>
                            ダサいタンクトップ。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="菜央">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/16.jpg' %}"/>
                        <h2 class="timeline__content-title">2003</h2>
                        <p class="timeline__content-desc">
                            勉強・運動共に天才少女の小学生時代を歩む。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="大起">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/17.jpg' %}"/>
                        <h2 class="timeline__content-title">2005</h2>
                        <p class="timeline__content-desc">
                            身長が順調に伸びていた頃。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="菜央">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/18.jpg' %}"/>
                        <h2 class="timeline__content-title">2006</h2>
                        <p class="timeline__content-desc">
                            中学受験をして修道中学校合格し、入学することとなる。<br>
                            三兄弟とも修道に通う事になるとは想像していなかった頃。<br>
                            「いやなんでお前ら短パンやねん。」
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="大起">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/19.jpg' %}"/>
                        <h2 class="timeline__content-title">2006</h2>
                        <p class="timeline__content-desc">
                            ドラマ『結婚できない男』で40歳になっても独身、桑野信介を演じる。<br>
                            一方、プライベートでは15歳年下の女性と結婚し、記者会見では<br>
                            「結婚できない男が結婚することになりました。」という鉄板ギャグを披露。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="菜央">
                    <div class="timeline__content"><img class="timeline__img" src="{% static 'images/timeline/20.jpg' %}"/>
                        <h2 class="timeline__content-title">2007</h2>
                        <h3>奈良市立青和小学校 卒業</h3>
                        <p class="timeline__content-desc">
                            中学受験をし、同志社女子中学校に合格。
                            5〜6年生で陸上、企画委員会 (生徒会) を経験し、活動的な小学生時代を締め括る。
                        </p>
                    </div>
                </div>
                <div class="timeline-item" data-text="To be continued...">
                    <div class="timeline__content">
                        <img class="timeline__img" src=""/>
                        <h2 class="timeline__content-title"></h2>
                        <p class="timeline__content-desc">
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}